extends ./layout/index

block content
  main 
    include ./layout/navigation
    section.tour
      .tour__content
        .tour__image
          img.tour__img(src=`/img/tours/${tour.img}.jpg` alt=`${tour.city}`)
        .tour__details
          .section__intro
            h3.tertiary-title.txt-center
              | #{tour.country}
            h2.secondary-title.txt-center
              | #{tour.city}
            .tour__icons
              .tour__icon
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
                  path(stroke='none' d='M0 0h24v24H0z' fill='none')
                  path(d='M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z')
                  path(d='M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0')
                  path(d='M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2')
                p.tour__price
                  | &euro;
                  span #{tour.price}
              .tour__icon
                svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
                  path(stroke='none' d='M0 0h24v24H0z' fill='none')
                  path(d='M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6')
                  path(d='M16 3v4')
                  path(d='M8 3v4')
                  path(d='M4 11h16')
                  path(d='M15 19l2 2l4 -4')
                p.tour__price
                  span #{tour.days}
                  |  Days
          p.tour__description
            | #{tour.description}

